@{
    ViewBag.Title = "About";
}
<style>
    body {
        color:black
    }
</style>
<h2>About VueJS</h2>

<p>Advantages</p>

<p>Following are the advantages of using Vue.js technology in web development.</p>

<p>1-Very Small Size</p>

<p>The success of JavaScript framework depends on its size. The smaller the size is, the more it will be used. One of the greatest advantages of Vue.js is its small size. The size of this framework is 18&ndash;21KB and it takes no time for the user to download and use it. This does not mean that it has low speed because of small size. Instead, it beats all the bulky frameworks like React.js, Angular.js, and Ember.js.</p>

<p>2-Easy to Understand and Develop Applications</p>

<p>One of the reasons for the popularity of this framework is that it is quite easy to understand. The user can easily add Vue.js to his web project because of its simple structure. Both the small as well as large scales templates can be developed through this framework which saves a lot of time. In case of any problem, the user can easily trace the blocks with errors. All this is because of its simple structure.</p>

<p>3-Simple Integration</p>

<p>Vue.js is also popular among the web developers because it facilitates them to integrate with the existing applications. This is because it is based on JavaScript framework and can be integrated into other applications built on JavaScript. This means that it is useful for developing new web applications as well as altering the pre-existing applications. This integration is possible because Vue.js has components for everything.</p>

<p>4-Detailed Documentation</p>

<p>Developers always like to use the framework with detailed documentation because it is always easy for them to write their first application. The documentation with Vue.js is so comprehensive that any user who knows a little about JavaScript and HTML can develop his own application or web page.</p>

<p>5-Flexibility</p>

<p>A great deal of flexibility is another advantage of Vue.js. It allows the user to write his template in HTML file, JavaScript file, and pure JavaScript file using virtual nodes. This flexibility also makes it easy to understand for the developers of React.js, Angular.js, and any other new JavaScript framework. Vue.js has proved a lot beneficial in the development of those simple applications that run directly from browsers.</p>

<p>6-Two-Way Communication</p>

<p>And last but not least Vue.js also facilitates two way communications because of its MVVM architecture which makes it quite easy to handle HTML blocks. In this respect, it seems very close to Angular.js which also speeds up HTML blocks.</p>

<p>In the end, we can say that Vue.js has clear advantages over all the earlier frameworks like Angular.js and React.js. In short, it combines the peculiar features of all the older frameworks.</p>

<p>We at ProximityCR have plenty of experience working with different JS Frameworks and we can tell you that we really like Vue.JS and it is here to stay.</p>


<h1>Wanna learn more?</h1>

<script>
    (function() {
        var cx = '017416676193902527329:xvpjbkknm5c';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>